# Development environment values for scheduling-report-api
appName: "scheduling-report-api"
fullnameOverride: "scheduling-report-api"
namespace: "finpay-cde"
replicaCount: 1

image:
  repository: "asia-southeast2-docker.pkg.dev/finnet-artifact-cde/finnet-cde-repo/scheduling-report-api"
  pullPolicy: "Always"

imagePullSecrets: []
nameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  sidecar.istio.io/proxyCPU: "0"
  sidecar.istio.io/proxyMemory: "0"
  sidecar.istio.io/rewriteAppHTTPProbers: "true"

podSecurityContext: {}

securityContext:
  readOnlyRootFilesystem: false

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: devo.finnet.co.id
      paths:
        - path: "/scheduling-report-api(/|$)(.*)"
          pathType: Prefix
  tls: []

resources:

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
